.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-image: url('./images/tyler-lastovich-d0Sl3AH8Tlg-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment:contained;
  background-size:cover;
  background-color:white;
  color:white;
  padding-left: 75px;
}
#dataContainer {
  text-align: center;
}
#movieData {
  text-align: center;
  /* background-color: blue; */
}
button {
  background-color: black; 
  color: yellow;
  border-color: yellow;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}
form {
  text-align: center;
  padding: 5px 24px; 
}
h1 {
text-align: center;
color: yellow;
}
p {
  text-align: center;
}
input[type=text] {
  background-color: black; 
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid yellow;
  color: white;
  border-radius: 4px;
  font-size: 20px;
}
label {
  font-size: 20px;
  color: white;
}
